.actionBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.config {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 100%; */
}

.pageNumber {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;
    width: 100px;
}