.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
}

.element {
    height: 100%;
    padding: 0.25rem;
    /* 4px */
}

.link {
    height: 100%;
}